# Python bytecode
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
env/
ENV/
.env/
.venv/
env.bak/
venv.bak/
pythonenv*

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Streamlit
.streamlit/secrets.toml

# Project specific files
*.log
wiseled_*.csv
wiseled_historical_data.csv
wiseled_error_log.json
wiseled_settings.json

# IDE specific files
# VS Code
.vscode/
.history/

# PyCharm
.idea/
*.iml
*.iws
*.ipr
*.iws
out/

# Spyder
.spyderproject
.spyproject

# macOS specific files
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# Windows specific files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.lnk

# Ignore generated test files
data/test*.json